<div class="container" style="justify-content: center; margin-top: 15%; ">

    <div class="container-fluid">
        <div class="text-box">
            <h1>Add Product Type</h1>
        </div>

        <form class="">
            <div class="form-group row">
                <label for="prodtype" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control-plaintext" id="prodtype" value="" style="border: 1px solid black;">
                </div>
            </div>
        </form>
    </div>

<br>

    <div class="fin" style="text-align:center;">
        <p>*Required
            <button class="btn-primary btn-danger" routerLink="/home" style="border: 1px solid black; width: 10%; margin: 10px; border-radius: 12%"> Cancel </button>
        
            <button class="btn-secondary btn-success" style="border: 1px solid black; width: 10%; margin: 10px; border-radius: 12%"> Save</button>
        </p>
    </div>

</div>